<h2>Detalle Visita</h2>

<table class="table">

    <thead>
        <tr>
            <th>Date Added</th>
            <th>Scheduled Date</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@ViewBag.FechaIngreso</td>
            <td>@ViewBag.FechaPlanificada</td>
            <td>@ViewBag.Descripcion</td>
        </tr>
    </tbody>

</table>
